body
{
	background-color: #efefef;
	min-width: 650px;
	margin: 0;
}

label
{
	display:block;
	padding: 10px 0px;
}
/*
div.error
{
	border: 2px solid red;
	background-color: #ffcccc;
	box-shadow: 0 0 5px 5px #ffcccc;
	font-size: 20;
	font-family: arial;
	padding: 20px;
	/*margin-left: 10%;
	margin-right:10%;
	margin-top:20px;
	color:#cc0000;
	width:auto;
	display:inline;

}
*/


.go_btn
{
	margin-top: 20px;
	color:#cfcfcf;
	height: 80px;
	opacity:0.8;
	cursor: pointer;
	border-radius: 8px;
	font-size: 65;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
   background: linear-gradient(to bottom, #0D4ABA, #0000aa);
}

.go_btn:hover
{
	   box-shadow: 0 0 20px rgb(0,0,255);
	   /*opacity:0.8;*/
}

.go_btn_disable
{
	background: linear-gradient(to bottom, #a1a1a1, #525252);
	color:#bfbfbf;
	cursor: default;
	/*opacity:0.8;*/	
}
.go_btn_disable:hover
{
box-shadow: 0 0 10px rgba(0,0,0,0.5);
 }

span
{
	
	color:#a1a1a1;
}

input
{
	font-family: verdana;
	font-size:100%;
}
input:focus {outline:none;} 
select:focus {outline:none;} 
textarea:focus {outline:none;}

